!! IOS XR Configuration version = 6.1.2.12I
!! Last configuration change at Tue Nov 15 03:28:59 2016 by UNKNOWN
!
username root
 group root-lr
 group cisco-support
 secret 5 $1$7kTu$zjrgqbgW08vEXsYzUycXw1
!
username vagrant
 group root-lr
 group cisco-support
 password vagrant
!
hostname customer 
domain name cisco.com
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 11.11.11.2
!
vrf mgmt 
!
!
tpa
 !
 vrf default
  address-family ipv4
 !
 vrf mgmt 
  address-family ipv4
 !
!
interface MgmtEth0/RP0/CPU0/0
 no ipv4 address
 vrf mgmt 
 ipv4 address 11.11.11.59/24
 no shutdown
!
!
interface MgmtEth0/RP1/CPU0/0
 no ipv4 address
 vrf mgmt 
 ipv4 address 11.11.11.60/24
 no shutdown
!
grpc
 port 57777
!
ssh server v2
ssh server vrf mgmt 
ssh server vrf default
ssh server netconf vrf mgmt 
netconf-yang agent
 ssh
 !
!
interface loopback 0
 ipv4 address 1.1.1.1 255.255.255.255
 no shutdown
!
interface loopback 1
 ipv4 address 10.10.10.10 255.255.255.255
 no shutdown
!
!
xml agent tty
!
xml agent ssl
!
end
